script(type="text/javascript", src="../../../bower_components/underscore/underscore.js")
script(type="text/javascript", src="../../../bower_components/jquery/dist/jquery.js")
script(type="text/javascript", src="../../../bower_components/backbone/backbone.js")
script(type="text/javascript", src="../../../bower_components/backbone.localStorage/backbone.localStorage.js")
script(type="text/javascript", src="../../../bower_components/backbone-relational/backbone-relational.js")
script(type="text/javascript", src="../../../bower_components/bootstrap/dist/js/bootstrap.min.js")

script(type="text/javascript", src="../model/Model.js")
script(type="text/javascript", src="../collection/Collection.js")
script(type="text/javascript", src="../view/BookView.js")
script(type="text/javascript", src="../view/authorView.js")
script(type="text/javascript", src="../view/AppView.js")
script(type="text/javascript", src="../router/AppRouter.js")
script(type="text/javascript", src="../App.js")
