extends _layout
block title
	title VaggieMarketブログ
	link(rel="stylesheet", type="text/css", href="../../../bower_components/bootstrap/dist/css/bootstrap.min.css")
	link(rel="stylesheet", type="text/css", href="../../../bower_components/bootstrap/dist/css/bootstrap-theme.min.css")
block body
	include _bookApp
	include _template
	include _script